@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;

}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;

  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin-top: 16px;
  }
}

.login-form {
  width: 50vw;
  margin: 10px;
  
  .login{
    width: 20vw;
    margin: 10px;
    margin-left: 20%;
    border-radius: 10px;
  }
}

.login-btn {
  width: 15vw;
  margin: 10px;
  margin-left: 30%;

}



 .bounce-in-left {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}